.mRNA, 
.plus-mRNA,
.minus-mRNA  {
    background-color: #28db25;
    height: 80%;
    top: 10%;
}

.cds, 
.plus-cds,
.minus-cds  {
    background-color: #28db25;
    height: 80%;
    top: 10%;
}

.utr, 
.plus-utr,
.five_prime_utr, 
.plus-five_prime_utr, 
.minus-five_prime_utr,
.three_prime_utr, 
.plus-three_prime_utr, 
.minus-three_prime_utr,
.minus-utr {
    height: 60%;
    top: 20%;
    background-color: #d7f7c0;
}

.lnc_RNA, 
.plus-lnc_RNA,
.minus-lnc_RNA {
    height: 60%;
    top: 20%;
    background-color: #262dff;
}

.snoRNA, 
.plus-snoRNA,
.minus-snoRNA {
    height: 60%;
    top: 20%;
    background-color: #7cedff;
}

.transcript, 
.plus-transcript,
.minus-transcript {
    height: 60%;
    top: 20%;
    background-color: #c589c6;
}

.rRNA, 
.plus-rRNA,
.minus-rRNA {
    height: 60%;
    top: 20%;
    background-color: #fff200;
}

.snRNA, 
.plus-snRNA,
.minus-snRNA {
    height: 60%;
    top: 20%;
    background-color: #80a823;
}

.tRNA, 
.plus-tRNA,
.minus-tRNA {
    height: 60%;
    top: 20%;
    background-color: #ef7902;
}

 .minus-lnc_RNA .neat-UTR,
 .plus-lnc_RNA .neat-UTR,
 .lnc_RNA .neat-UTR{
         height: 12px;
         margin-top: 2px;
         color: rgb(200,2,3);
         background-color: rgb(5,4,255) !important;
 }
